body {
    margin: 40px;
}

.flex-box {
    display: flex;
    justify-content: flex-start;
}

.left-size
.right-size {
    margin: 10px;

}

img {
    height: 270px;
    width: auto;
}

.prof-name {
    font-weight: bolder;
    font-size: 28px;
    margin: 0px;
}

.contacts {
    font-weight: bold;
    font-size: 18px;
}

