.title {
  text-align: center;
  color: darkcyan;
  font-size: 28px;
}

.input {
  border: 1px solid black;
  height: 50px;
  background-color: rgb(221, 221, 221);
  font-family: 'EB Garamond', serif;
}

ion-content {
  --background: rgb(221, 221, 221);
}

.container {
  position: absolute;
  top: 25%;
  // margin-left: 500px;
  background-color: cadetblue;
  max-width: 560px;
  border: 3px solid black;
  border-radius: 12px;
}

.set-grid {
  padding: 50px;
}

.row {
  position: relative;
  align-content: center;
  justify-content: center;
  height: 80px;
}

.span {
  font-weight: bolder;
  padding: 22px;
}

.my-button {

  --background: rgb(124, 184, 184);
  color: black;
  font-weight: bolder;
  height: 45px;
  width: 170px;
  font-family: 'EB Garamond', serif;
  letter-spacing: 3px;
  font-size: 16px;
  border: 1.5px solid rgb(120, 143, 140);
}