p {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.set-grid {
    background-color: rgb(123, 184, 184);
    border: 1px solid black;
    margin: 10%;
}

.my-heading-col {
    padding: 0;
}

.my-row {
    padding: 2%;
}

.my-col {
    width: 20%;
    padding: 2%;
}
